<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNgC9L9HcsVuEYLZm_qCUzunf9TucvB_0</string>
	<key>GCM_SENDER_ID</key>
	<string>581527734374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beumed.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beumed-97c9e</string>
	<key>STORAGE_BUCKET</key>
	<string>beumed-97c9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581527734374:ios:e136dfbecb160868a1c5a7</string>
</dict>
</plist>